@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
    font-family: "Shadows Into Light Two", cursive;
}

#root {
    background-image: linear-gradient(
        to right bottom,
        #00ffbc,
        #00ffff,
        #95feff,
        #e2faff,
        #ffffff
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.App {
    /* background-image: linear-gradient(
        to right bottom,
        #00ffbc,
        #00ffff,
        #95feff,
        #e2faff,
        #ffffff
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    padding-bottom: 15rem;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 5rem;
    color: rgb(130, 72, 35);
}
