@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Shadows Into Light Two", cursive;
}

.App {
  background-image: linear-gradient(to right bottom, #00ffbc, #00ffff, #95feff, #e2faff, #ffffff);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 15rem;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  padding: 3rem 4rem;
  display: flex;
  align-items: center;
}
.header__logo {
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 50%;
  background-color: white;
}
.header__logo img {
  width: 100%;
}
.header__title {
  color: rgb(130, 72, 35);
  font-family: inherit;
  padding-left: 8rem;
}
.header__title h1 {
  font-size: 6.5rem;
  line-height: 1.2;
}
.header__title h2 {
  font-size: 2rem;
}

.navbar {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.navbar button {
  padding: 1rem 2rem;
  font-size: 1.8rem;
  background-color: rgba(137, 86, 55, 0.943);
  color: white;
  border-radius: 100px;
  border: none;
  font-family: inherit;
  letter-spacing: 2px;
  transition: all 0.3s;
}
.navbar button:hover {
  background-color: rgb(255, 252, 252);
  color: rgba(137, 86, 55, 0.943);
  transform: scale(1.1);
}

.services__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8rem 0;
}
.services__container h2 {
  font-size: 5rem;
  color: rgba(137, 86, 55, 0.943);
}

.services {
  display: flex;
  flex-wrap: wrap;
  padding: 6rem;
  gap: 4rem;
  justify-content: center;
}

.service {
  background-color: rgba(255, 255, 255, 0.646);
  width: 35rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 4rem 3rem;
  color: rgba(81, 45, 23, 0.943);
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: transform 0.3s;
}
.service:hover {
  transform: scale(1.05);
}
.service__img {
  width: 7rem;
}
.service__img img {
  width: 100%;
}
.service h3 {
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: 0.8px;
}
.service p {
  font-size: 1.7rem;
  text-align: center;
  letter-spacing: 0.8px;
}

.feedbacks-section h2 {
  font-size: 5rem;
  color: rgba(137, 86, 55, 0.943);
}

.container {
  position: relative;
  display: flex;
  margin: 6rem auto;
  width: 50rem;
}
.container .arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  fill: rgb(255, 255, 255);
  background-color: rgba(137, 86, 55, 0.943);
  z-index: 1;
  padding: 0.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
}
.container .arrow:hover {
  fill: rgba(137, 86, 55, 0.943);
  background-color: rgb(255, 255, 255);
}
.container .arrow svg {
  width: 100%;
  height: 100%;
}
.container .arrow--left {
  left: -2rem;
}
.container .arrow--right {
  right: -2rem;
}
.container .slider-container {
  height: 25rem;
  border-radius: 10px;
}
.container .slider-container .slide {
  background-color: rgba(255, 255, 255, 0.734);
  display: flex;
  width: 50rem;
  border-radius: 10px;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 4rem;
  gap: 2rem;
  color: rgba(137, 86, 55, 0.943);
}
.container .slider-container .slide .feedback__text {
  text-align: center;
  font-size: 2rem;
}
.container .slider-container .slide .feedback__user {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.container .slider-container .slide .feedback__user img {
  width: 3rem;
}
.container .slider-container .slide .feedback__user .user__name {
  text-align: start;
  font-size: 1.7rem;
}

.display-none {
  display: none;
}

.whatsapp-btn {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 6rem;
  height: 6rem;
  bottom: 4rem;
  right: 4rem;
  background-color: #25d366;
  color: #fff;
  border-radius: 5rem;
  text-align: center;
  font-size: 3.8rem;
  box-shadow: 0.2rem 0.2rem 0.8rem #999;
  z-index: 100;
  transition: all 0.3s;
}
.whatsapp-btn:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
  font-size: 4rem;
}

/*# sourceMappingURL=index.css.map */
